@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --plum-100: #6816AF;
  --plum-dark: #3A0469;
  --plum-white: #FFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-plum-100: var(--plum-100);
  --color-plum-dark: var(--plum-dark);
  --color-plum-white: var(--plum-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-fibra, 'Fibra One'), sans-serif;
}

h1, h2 {
  font-family: var(--font-cooper, 'Cooper TL'), serif;
  font-weight: 300;
}

h1, h2 {
  color: var(--plum-dark);
  font-size: 36px;
  line-height: 38px;
  margin-bottom: 24px;

  @media (min-width: theme('screens.md')) {
    font-size: 48px;
    line-height: 50px;
  }

  @media (min-width: theme('screens.lg')) {
    font-size: 60px;
    line-height: 72px;
  }
}

h3 {
  color: var(--plum-dark);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

button {
  cursor: pointer;
}

picture {
  display: block;
}

.font-fibra {
  font-family: var(--font-fibra, 'Fibra One'), sans-serif;
  font-weight: 400;
}

.font-cooper {
  font-family: var(--font-cooper, 'Cooper TL'), serif;
  font-weight: 300;
  font-style: normal;
}
